#gallerydivparent{
    width: 80%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding:5px;
    justify-content: center;
}
.vertgalimg{
    width:25vw;
    height:auto;
}
.horizgalimg {
    height:25vh;
    width:auto;
}